/src/MeterCharge/.vs/MeterCharge/v17
/src/MeterCharge/bin/Debug
/src/MeterCharge/obj/Debug
/src/MeterCharge/packages
*.editorconfig
/src/MeterCharge/MeterCharge.sln.DotSettings.user
/src/MeterCharge.DataAccess/bin/Debug
/src/MeterCharge.DataAccess/obj/Debug
/src/MeterCharge.DataAccess.Tests/bin/Debug
/src/MeterCharge.DataAccess.Tests/obj/Debug
/src/MeterCharge.Infrastructure/bin/Debug
/src/MeterCharge.Infrastructure/obj/Debug
/src/MeterCharge.Models/bin/Debug
/src/MeterCharge.Models/obj/Debug
/src/MeterCharge.Schema/bin/Debug
/src/MeterCharge.Schema/obj/Debug
/src/MeterCharge.Tests/bin/Debug
/src/MeterCharge.Tests/obj/Debug
